<% content_for :title, t("employees.new.title") %>

<h1><%= t("employees.new.title") %></h1>

<%= render "form", employee: @employee %>

<br>

<div>
  <%= link_to t("employees.back"), employees_path %>
</div>
