<p style="color: green"><%= notice %></p>

<%= render @employee %>

<div>
  <%= link_to t("employees.edit.title"), edit_employee_path(@employee) %> |
  <%= link_to t("employees.back"), employees_path %>
</div>
